h1{
  color: #0000FF;
  border-style: solid;
  border-width: 10px;
  border-color: red;
  font-size: 60px;
}
body{
  background-color: #CDCE6D;
}
h2{
  color: brown;
  text-align: center;
  font-size: 40px;
}
img{
  border: 10px solid green;
  
}
div{
  border: 5px solid teal;
}
p{
  font-size: 30px;
}
li{
  font-size: 30px;
}
